
/********** < Cart */

.opc-checkout-page{
    position: relative;
}



.cart .section-heading {
    margin-bottom: 50px;
}
.cart .checkout-types {
    text-align: right;
}
.cart .checkout-types li { line-height: 3em}

.cart-table .item-msg { font-size:10px; }
.cart-table .btn-continue {
    float: left;
}
.cart-table {
    float: left;
    width: 100%;
    background: #fff;
}

.cart .data-table thead {
    border: 0;
}


.cart-table .btn-continue span,
.cart-table .btn-update span,
.cart-table .btn-continue span:hover,
.cart-table .btn-update span:hover
{
    color: #888;
    background: none;
    font-size: 16px;
}
.cart-table .btn-continue span,

.cart-table .btn-continue span span,
.cart-table .btn-continue span span:hover,
.cart-table .btn-update span span,
.cart-table .btn-update span span:hover,
.cart .shipping-form .button span span,
.cart .shipping-form .button span span:hover,
.cart .btn-proceed-checkout span span,
.cart .btn-proceed-checkout span span:hover {
    background: none;
}

.cart-table .btn-continue span span i {
    margin-left: 10px;
    font-size: 12px;
    -moz-transition: color 700ms ease;
    -webkit-transition: color 700ms ease;
    -o-transition: color 700ms ease;
    transition: color 700ms ease;
}

.cart-table .btn-continue:hover span span i {
    color: #333;
}


.cart-table .btn-update span span i {
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    -moz-transition: color 700ms ease;
    -webkit-transition: color 700ms ease;
    -o-transition: color 700ms ease;
    transition: color 700ms ease;
    padding: 7px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: right;
    line-height: 10px;
    margin-top: -2px;
    padding-left: 8px;
}

.cart-table .btn-update:hover span span i {
    color: #333;
}



/* Proceed To checkout*/
.cart .btn-proceed-checkout span{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    padding: 8px 25px;
    font-size: 22px;
    color: #222;
}
.cart .btn-proceed-checkout:hover span span{
    color: #fff;
}
.cart .btn-proceed-checkout span:hover{
    background: #fff;
    padding: 8px 25px;
}




/*Cart Table*/
.cart .table-wrapper {
    padding: 10px;
    clear: both;
    background: transparent url(../images/lines-pattern.png) 0 0 repeat;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cart .table-wrapper .data-table th {
    background: #fafafa;
    border: 0;
}

.cart-table h2.product-name {
    line-height: 2em;
    font-size: 15px;
    text-transform: uppercase;
}

.cart-table td {
    line-height: 2em;
    border: 0;
    vertical-align: middle;
}
.cart-table tbody tr {
    line-height: 2em;
}
.cart-table tbody td {
    padding-top: 27px;
}
.cart-table .product-name {

}


.cart-table .product-image img{
    width: 100%;
    height: 100%;
}
.cart-table .product-image {
    margin: 10px;
    margin-top: 0;
    float: left;
    background: #fff;
    width: 80px;
    height: 80px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.35);
}
/* Shopping Cart Collateral boxes */

.cart-promo-banners .block-promo-cart {
    margin-top: 5px;
}

.cart-promo-banners img {
    width: 100%;
    margin-right: 15px;
}

.cart .cart-collaterals {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount, .cart .shipping {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    background: #f6f6f6;
}

.cart .discount h2, .cart .shipping h2 {
    padding: 13px 15px 9px;
    font-size: 20px;
    letter-spacing: 2px;
}

.cart .discount-form label{
    line-height: 2;
}
.cart .discount-form .input-text {
    float: left;
    margin-right: 10px;
    width: 87%;
    margin-bottom: 20px;
}

.cart .discount-form .input-box {
}
.cart .discount-form,
.cart .shipping-form {
    padding: 20px;
}
.shipping-form .sp-methods {
    margin: 10px 5px;
}

.cart .shipping-form .input-text{
    width: 230px;
}
.cart .shipping-form .form-list select{
    width: 245px;
}


.cart .discount-container, .cart .shipping-container {
    background: transparent url(../images/lines-pattern.png) 0 0 repeat;
    padding: 10px;
    float: left;
    width: 100%;
}

.cart .discount-container button, .cart .shipping-container button {
    float: right;
    font-size: 20px;
}

.cart .discount-container span,
.cart .shipping-container span{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #222;
}
.cart .discount-container span span,
.cart .shipping-container span span{
    background: transparent;
}


/* Shopping Cart Totals */
.cart .totals-container { }
.cart .totals {
    background: #222;
    margin-bottom: 10px;
    padding: 50px;
    color: #fff;
    min-height: 100px;
}
.cart .totals a {
    color: #fff;
}
.cart .totals table {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.cart .totals table th,
.cart .totals table td { padding:5px; }
.cart .totals table th { font-weight:bold; }

.cart-footer-border {
    border-top: 1px solid #efefef;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}