<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Headerslider>
            <version>1.0.2</version>
        </Magazento_Headerslider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <headerslider>
                    <file>magazento_headerslider.xml</file>
                </headerslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magazento_Headerslider>
                    <files>
                        <default>Magazento_Headerslider.csv</default>
                    </files>
                </Magazento_Headerslider>
            </modules>
        </translate>
    </frontend>
    
    <global>
        <rewrite>
            <mage_adminhtml_system_variable>
                <from><![CDATA[#^/headerslider/system_variable#]]>
                </from>
                <to>/admin/system_variable</to>
            </mage_adminhtml_system_variable>
        </rewrite>
        <models>
            <headerslider>
                <class>Magazento_Headerslider_Model</class>
                <resourceModel>headerslider_mysql4</resourceModel>
            </headerslider>
            <headerslider_mysql4>
                <class>Magazento_Headerslider_Model_Mysql4</class>
                <entities>
                    <slide>
                        <table>magazento_headerslider_slide</table>
                    </slide>
                    <slide_product>
                        <table>magazento_headerslider_slide_product</table>
                    </slide_product>
                    <slide_store>
                        <table>magazento_headerslider_slide_store</table>
                    </slide_store>
                </entities>
            </headerslider_mysql4>
        </models>
        <resources>
            <headerslider_setup>
                <setup>
                    <module>Magazento_Headerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </headerslider_setup>
            <headerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </headerslider_write>
            <headerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </headerslider_read>
        </resources>
        <blocks>
            <headerslider>
                <class>Magazento_Headerslider_Block</class>
            </headerslider>
        </blocks>
        <helpers>
            <headerslider>
                <class>Magazento_Headerslider_Helper</class>
            </headerslider>
        </helpers>
    </global>
    <admin>
        <routers>
            <headerslider>
                <use>admin</use>
                <args>
                    <module>Magazento_Headerslider</module>
                    <frontName>headerslider</frontName>
                </args>
            </headerslider>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <headerslider>
                    <file>magazento_headerslider.xml</file>
                </headerslider>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <headerslider>
            <options>
                <enable>1</enable>
            </options>
        </headerslider>
    </default>
</config>