<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Tabs>
            <version>1.0.3</version>
        </Magazento_Tabs>
    </modules>
    
    <global>
        <rewrite>
            <mage_adminhtml_system_variable>
                <from><![CDATA[#^/tabs/system_variable#]]>
                </from>
                <to>/admin/system_variable</to>
            </mage_adminhtml_system_variable>
        </rewrite>
        <models>
            <tabs>
                <class>Magazento_Tabs_Model</class>
                <resourceModel>tabs_mysql4</resourceModel>
            </tabs>
            <tabs_mysql4>
                <class>Magazento_Tabs_Model_Mysql4</class>
                <entities>
                    <tab>
                        <table>magazento_tabs_tab</table>
                    </tab>
                    <tab_store>
                        <table>magazento_tabs_tab_store</table>
                    </tab_store>      
                </entities>
            </tabs_mysql4>
        </models>
        <resources>
            <tabs_setup>
                <setup>
                    <module>Magazento_Tabs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tabs_setup>
            <tabs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tabs_write>
            <tabs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tabs_read>
        </resources>
        <blocks>
            <tabs>
                <class>Magazento_Tabs_Block</class>
            </tabs>
        </blocks>
        <helpers>
            <tabs>
                <class>Magazento_Tabs_Helper</class>
            </tabs>
        </helpers>
    </global>
    <admin>
        <routers>
            <magazento_tabs>
                <use>admin</use>
                <args>
                    <module>Magazento_Tabs</module>
                    <frontName>tabs</frontName>
                </args>
            </magazento_tabs>
        </routers>
    </admin>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <tabs translate="title">
                            <title>Tabs</title>
                            <children>
                                <item translate="title">
                                    <title>Megamenu</title>
                                </item>
                            </children>
                            <sort_order>65</sort_order>
                        </tabs>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tabs>
                                            <title>Megamenu</title>
                                            <sort_order>101</sort_order>
                                        </tabs>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <magazento translate="title" module="tabs">
                <title>Magazento</title>
                <sort_order>99</sort_order>
                <children>
                    <tabs translate="title" module="tabs">
                        <title>Megamenu</title>
                        <sort_order>65</sort_order>
                        <action>tabs/admin_tab/</action>
                    </tabs>
                </children>
            </magazento>
        </menu>
    </adminhtml>
</config>