<config>
    <tabs>
        <magazento translate="label">
            <label>Magazento.com</label>
            <sort_order>250</sort_order>
        </magazento>
    </tabs>    
    <sections>
        <ajaxcart translate="label comment" module="ajaxcart">
            <tab>magazento</tab>
            <label>Ajax Cart</label>
            <frontend_type>text</frontend_type>
            <sort_order>202</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment" module="ajaxcart">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <ajaxcart_enabled translate="label comment" module="ajaxcart">
                            <label>AjaxCart Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ajaxcart_enabled>
                    </fields>

                </general>
                <info translate="label">
                    <label>About</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>ajaxcart/info</frontend_model>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>                
            </groups>
        </ajaxcart>
    </sections>
</config>